a:link {
  color: rgb(192, 192, 192);
  text-decoration: none;
}

a:visited {
  color: rgb(192, 192, 192);
  text-decoration: none;
}

.main-div {
  position: relative;
  width: 10px;
  max-height: 50%;
}

img {
  cursor: pointer;
}
